<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Room Login</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="logo-box">
    <h3>Chat Room</h3>
    <form>
        <div class="input-outer">
            <span class="u-user"></span>
            <input id="username" name="username" class="text" type="text" placeholder="Username">
        </div>
        <div class="mb2">
            <a class="act-but submit" onclick="login()">Login</a>
        </div>
    </form>
</div>
<script src="/js/login.js"></script>
</body>
</html>
